<container class="container">
<article class="post">
            <div class="post-title">
                <span>{{title}}</span><br>
                </div>
                <div class="content">
                <span>{{content}}</span>
                </div>
                <div class="meta">
                    Post by {{user.username}} on {{format_date created_at}}
                    |
                <a class="comments" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                </div>
        </article>
</container>

