<ol class="post-list">
    {{#each posts as |post| }}
    <li>
        <article class="post">
            <div class="title">
                <span>{{post.title}}</span><br>
                <span>{{post.content}}</span>
                </div>
                <div class="meta">
                    Post by {{post.user.username}} on {{post.created_at}}
                    |
                <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
                </div>
        </article>
    </li>
    {{/each}}
    </ol>